
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="content-container">

    <div class="main-title">
        <h1 class="main-title__primary">Hakkımda</h1>
        <h3 class="main-title__secondary">Kısaca hakkımda söyleyebileceklerim</h3>
    </div>

    <div>

        <div class="panel-grid row m-b-0">
            <div class="col-md-6 panel-grid-cell">
                <div class="textwidget">
                    <p>@ViewBag.AboutMe</p>
                </div>
            </div>
            <!-- // end .col-md-6 -->
            <div class="col-md-6 panel-grid-cell">
                <div class="textwidget lightbox">
                    <p>
                        <a href=""><img class="alignnone size-full wp-image-99" src="../../Images/Home/books.jpg " alt="" width="850" height="480"></a>
                    </p>
                    <p>
                        <a href=""><img class="alignnone size-full wp-image-99" src="" alt="" width="850" height="480"></a>
                    </p>
                    <p>
                        <a href=""><img class="alignnone size-full wp-image-99" src="" alt="" width="850" height="480"></a>
                    </p>

                </div>
            </div>
            <!-- // end .col-md-6 -->
        </div>
        <!-- // end .row -->

    </div>

</div>


