

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*Override Mental Template*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 400px;
}

/* Set width on the form input elements since they're 100% wide by default */


/*Admin Panel*/

.margin-body {
    margin-top: 100px;
}
#admin-home-menu {
    margin: 20%;
    padding: 10px 10px
} 

#admin-home-menu .btn {
    text-align: center
}

.admin-sidebar {
    margin-right: 60px;
    max-width: 200px;
    border-right: solid rgb(207, 202, 202) 1px
}

.list-service {
    list-style-type: none;
}

ul.list-service a {
    text-align: right
}