
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container login-text">
    <div class="jumbotron">
        <p>Admin Yönetim Sayfasına erişmek için buradan giriş yapabilirsiniz.</p>
    </div>
</div>


