
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container margin-body" id="admin-home-menu">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-success form-control">Ana Sayfa</button>
                <button class="btn btn-info form-control">Blog Sayfası</button>
                <button class="btn btn-warning form-control">İletişim</button>           
            </div>
        </div>
    </div>
</div>

